body {
    color:
}

.Formrubrik {
	text-align: center;
	margin-bottom: 4%;

}

.form-control {
	width: 50%;
	margin: auto;
    border: 3px solid #9999f9;
    margin: auto;
    margin-bottom: 2%;
}


.form button {
position: absolute;
left: 25%;
}

.imgleft {
position: absolute;
float: left;
z-index: -1;
top: 0px;
}
.imgright{
position: absolute;
float: right;
}


