

#bg-img {
	background-image: url("placeholder.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding: 15px;
	background-size: cover;
	transform: ;
}

.wrap {
	width: 100%;
}

.wrap-inner h1 {
	font-weight: 400;
}